[submodule ".local/share/nvim/vscode_snippets/bevy-snippets"]
	path = .local/share/nvim/vscode_snippets/bevy-snippets
	url = https://github.com/knutwalker/bevy-snippets
[submodule ".local/share/nvim/vscode_snippets/trusty_rusty_snippets"]
	path = .local/share/nvim/vscode_snippets/trusty_rusty_snippets
	url = https://github.com/polypus74/trusty_rusty_snippets
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/knutwalker/init.lua.git
[submodule ".bash.rc"]
	path = .bash.rc
	url = https://github.com/knutwalker/bashrc.git
[submodule "git-coprs"]
	path = git-coprs
	url = https://github.com/knutwalker/git-coprs.git
[submodule ".local/share/nvim/lox/tree-sitter-lox"]
	path = .local/share/nvim/lox/tree-sitter-lox
	url = https://github.com/otherJL0/tree-sitter-lox.git
[submodule ".local/share/nvim/java-debug"]
	path = .local/share/nvim/java-debug
	url = https://github.com/microsoft/java-debug.git
[submodule ".local/share/nvim/vscode-java-test"]
	path = .local/share/nvim/vscode-java-test
	url = https://github.com/microsoft/vscode-java-test.git
[submodule ".local/share/nvim/just/tree-sitter-just"]
	path = .local/share/nvim/just/tree-sitter-just
	url = https://github.com/IndianBoy42/tree-sitter-just.git
[submodule ".local/share/alacritty/themes"]
	path = .local/share/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
