[submodule ".local/share/nvim/vscode_snippets/bevy-snippets"]
	path = .local/share/nvim/vscode_snippets/bevy-snippets
	url = https://github.com/knutwalker/bevy-snippets
[submodule ".local/share/nvim/vscode_snippets/trusty_rusty_snippets"]
	path = .local/share/nvim/vscode_snippets/trusty_rusty_snippets
	url = https://github.com/polypus74/trusty_rusty_snippets
[submodule ".local/share/nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
