[submodule ".local/share/nvim/vscode_snippets/bevy-snippets"]
	path = .local/share/nvim/vscode_snippets/bevy-snippets
	url = https://github.com/knutwalker/bevy-snippets
[submodule ".local/share/nvim/vscode_snippets/trusty_rusty_snippets"]
	path = .local/share/nvim/vscode_snippets/trusty_rusty_snippets
	url = https://github.com/polypus74/trusty_rusty_snippets
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/knutwalker/init.lua.git
[submodule ".bash.rc"]
	path = .bash.rc
	url = https://github.com/knutwalker/bashrc.git
[submodule "git-coprs"]
	path = git-coprs
	url = https://github.com/knutwalker/git-coprs.git
